body {
    background-color: #2F3043;
}

#photo-temp {
    text-align: center;
    position: relative;
    margin-bottom: 82px;
}

@media (max-width: 1198.98px) {
    #photo-temp {
        margin-top: 30px;
        padding: 0px;
    }
}

@media (min-width: 1200px) {
    #photo-temp {
        margin-left: 82px;
        margin-top: 82px;
        padding: 0px;
    }
}

#photo {
    border-style: solid;
    border-color: #b3b3b3;
    border-width: 20px;
    border-radius: 40px;
}

#photo-title {
    position: absolute;
    bottom: 0px;
    width: 675px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-style: solid;
    border-color: #b3b3b3;
    border-width: 20px;
    font-size: 32px;
    font-family: "Poetsen One";
    text-align: center;
    color: #2F3043;
    background-color: #b3b3b3;
}

@media (min-width: 991px) and (max-width: 1190px) {
    #photo-title {
        left: 143px;
    }
}

@media (min-width: 730px) and (max-width: 990px) {
    #photo-title {
        left: 23px;
    }
}


#photo-statement {
    position: relative;
    bottom: 10px;
    font-size: 38px;
    font-family: "Poetsen One";
    text-align: center;
    color: #b3b3b3;
}

@media (max-width: 1399px) {
    #photo-statement {
        margin-top: 20px;
    }
}

#stuff {
    text-align: center;
    margin-top: 52px;
    width: 550px;
}

#socials img {
    margin: 8px;
}

#header {
    margin-top: 10px;
    margin-bottom: 30px;
}

#header p {
    color: #b3b3b3;
    font-size: 64px;
    font-family: "Lemon";
}

#status-temp {
    width: 518px;
    height: 144px;
    background-color: #212236;
    border-style: solid;
    border-color: #BDC3C0;
    border-radius: 16px;
    border-width: 4px;
    margin: auto;
    margin-bottom: 40px;
}

#status-temp p {
    font-size: 24px;
    font-family: "Poetsen One";
    color: #BDC3C0;
    margin-top: 8px;
    margin-bottom: 8px;
}

#status {
    width: 463px;
    height: 70px;
    background-color: #BDC3C0;
    border-radius: 6px;
    margin: auto;
    padding: 5px;
}

#status p {
    font-size: 32px;
    font-family: "Pompiere";
    color: #2F3043;
}

@media (max-width : 1399px) {
    #status p {
        font-size: 37px;
    }
}

#breaker {
    display: block;
    margin-bottom: 18px;
}

#bio {
    margin: auto;
    margin-top: 20px;
    width: 550px;
}

@media (max-width : 1399px) {
    #bio {
        width: 700px;
    }
}

#bio p {
    display: inline;
    color: #ffffff;
    font-family: 'Mooli';
    font-size: 20px;
}

@media (max-width : 1399px) {
    #bio p {
        font-size: 25px;
    }
}

#purple {
    display: inline;
    color: #afabdd;
}

#red {
    display: inline;
    color: #f09494;
}

#green {
    display: inline;
    color: #b7ddab;
}